<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Error</title>
</head>
<body>
<section layout:fragment="content" class="text-center mt-5">
    <h1 class="display-4 text-danger">Oops!</h1>
    <p class="lead">Something went wrong.</p>
    <p th:if="${status}" class="text-muted">Error <span th:text="${status}"></span> - <span th:text="${error}"></span></p>
    <p th:if="${message}" class="text-muted">Message: <span th:text="${message}"></span></p>
    <a th:href="@{/}" class="btn btn-primary mt-3">Go back to Home</a>
</section>
</body>
</html>
